extends baseEmail

block content
  p You are receiving this email because you (or someone else) has requested the reset of a password.
  p Your have only 10 minutes to reset your password.Please click on the "PASSWORD RESET" to continue.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') PASSWORD RESET
  p You can always contact us for any help at: support@frankapp-ng.com
  p - FrankSoft Management