<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Building Applications for digital business">
    <meta name="keywordy" content="Application Development, Website Building, Mobile Development,Nigeria,Africa">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,700"rel="stylesheet"/>
    <link rel="stylesheet" href="/css/frank.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>Error</title>
</head>

<body>
   
    <header>
       
        <nav id="main-nav" class="flex-container">
           
            <div class="item item-1">
                <a href="/">FRANK APPs | Building Apps for digital businesss</a>
            </div>
            <div class="item item-2 ">
                <a href="/loginTemplate.html">LogIn</a> 
            </div>
            
            <div class="item item-3">
                <a href="/signupTemplate.html#page-2" class="signup">Book Project</a>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div id="feedback-form">
              <div class="feedback-image"  ></div>
    
                <h3 style="text-align: center;"><span class="text-primary"><%= title %>  
                   </span>😢 🤯</h3>
                   
                   <p><b>Try Again !  </b> </p>
                   <p><%= msg %></p>
                            
            </div>
        </section>    
    </main>
   
   
</body>
</html>