<header>
       
    <nav id="main-nav" class="flex-container">
       
        <div class="item item-1">
            <a href="/">FRANK APPs | Building Apps for digital business</a>
        </div>
        <div class="item item-2 ">
            <a href="/api/v1/users/logout">LogOut</a> 
        </div>
        <div class="item item-3">
                <img src='/img/users/userImg.jpg' alt='<%= user.photo %>' width="35">  
            
            <!-- <% if (user.photo === 'userImg.jpg') { %>
                <img src='/img/users/userImg.jpg' alt='<%= user.photo %>' width="35">
                
            <% } else { %>
                <img src="/uploads/<%= user.photo %>" alt='<%= user.photo %>' width="35">
                
            <% }  %>  !=  -->  
        </div>      
    </nav>
</header>