<footer id="main-footer">
    <div class="footer-container">
      <div class="item item-1">
        
           <a href="/" class="">FRANK APPs</a>
           <h5 class="text">Building Apps for digital business.</h5>
           <h5>Email: info@franciswebapp.com</h5>
           <h5><i class="fas fa-phone-volume"> WhatsApp Call:</i>
             <a class="call-style-w3" href="tel:+49 1713345531"> +49 1713345531</a>
           </h5>
      </div>
      <div>
        <h3>Email Newsletter</h3>
        <p class="text">Receive data protection information and updates in IT.</p>
        <form method="POST" action="/api/v1/users/subscribe">
          <input type="email" placeholder="Enter Email..." id="email" name="email" required>
          <input type="submit" value="Subscribe" class="btn " id="submit" name="">
        </form>
      </div>
  
      <div class="item item-2">
            <h3>Site Links</h3>
            <div><a href="/offers/privacy.html" class="btn site-link">Privacy Policy</a></div><br>
            <div><a href="/about.html" class="btn site-link">About Us</a></div><br>
            <div><a href="/contact.html" class="btn site-link">Contact</a></div>
            
      </div>
      <div>
        <h5 class="text">
            FrankSoft Application Development &copy; 2024, All Rights Reserved
        </h5>
      </div>
    </div>
  </footer>  